{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "prettier-airbnb"
  ],
  "rules": {
    "no-extra-semi": "off",
    "operator-linebreak": "off",
    "object-curly-spacing": "off",
    "prefer-template": "off",
    "semi": "off",
    "space-before-function-paren": "off",
    "wrap-iife": "off"
  }
}
