{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["prettier-airbnb"],
  "rules": {
    "no-extra-semi": "off",
    "operator-linebreak": "off",
    "prefer-template": "off",
    "space-before-function-paren": "off",
    "wrap-iife": "off"
  }
}
